/*! YATAY-MENU */
.yatay-menu ul{
    list-style-type: none;
}
.yatay-menu ul li{
    background-color: bisque;
    width: 8rem;
    height: 5rem;
    margin: 0.5rem;
    display: inline-block;
}
a{
    text-decoration: none;
    background-color: red;
    display: inline-block;
    padding: 1rem;
    width: 6rem;
    text-align: center;
}
a:hover{
    background-color: aquamarine;
}
a:active{
    color: white;
}
/*! ACILIR-MENU */
.ul1{
    background-color: yellow;
    display: none;
}
.acilir-menu:hover .ul1{
    display: block;
}
.acilir-menu:hover .ul1 .bir:hover{
    background-color: pink;
}